<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="head">
	<title>Spring Boot</title>
	<!--/* 이 영역에 공통으로 사용할 css, js library를 선언한다. */-->
	<link th:href="@{/css/common.css}" rel="stylesheet" />
</th:block>
<body>
	<div layout:fragment="content" class="content">
		<h2>과제_그룹웨어 사용자 관리 프로그램</h2>
		<hr>
		<!-- 아래의 코드를 추가 합니다.-->
		<table class="type11" border="1">
			<tr>
				<th>조직도</th>
				<th>사용자관리</th>
			</tr>
		</table>
		<!--<th:block th:each="rl : ${resultList}">-->
		<form action="/home/search" method="get">
			<table class="search" border="1">
				<tr style="align-content: center;">
					<th>이름</th>
					<th><input class="input" type="text" name="user_nm"
						style="width: 98%;"></input></th>
					<th><button style="width: 98%;">검색</button></th>
				</tr>
			</table>
		</form>
		<!--<td th:text="${ rl }"></td>-->
		<form method="get" action="/home/view">
			<table class="type02" id="type02" border="1">
				<tr>
					<th style="width: 110px;">id</th>
					<th style="width: 110px;">name</th>
					<th style="width: 150px;">부서명</th>
					<th style="width: 75px;">조회/수정</th>
				</tr>
				<th:block th:each="project : ${projectList}">
					<tr>
						<td id="id" th:text="${ project.user_id }"></d>
						<td th:text="${ project.user_nm }"></td>
						<td th:text="${ project.dept_nm }"></td>
						<td align="center"><button name="id" th:value="${ project.user_id }" style="width: 60%;">선택</button></td> 
					</tr>
				</th:block>
			</table>
		</form>
		<form action="/home/insert" method="post" name="user">
			<table class="type03">
				<tr>
					<th scope="row">ID</th>
					<td><input type="text" name="user_id" style="width: 96%;"></td>
				</tr>
				<tr>
					<th scope="row">사원명</th>
					<td><input type="text" name="user_nm" style="width: 96%;"></td>
				</tr>
				<tr>
					<th scope="row">부서코드</th>
					<td><input type="text" name="dept_cd" style="width: 96%;" placeholder="D1:공무_D2:공사_E1:회계자금_E2:인사총무_F1:마케팅지원"></td>
				</tr>
				<!--<select style="width: 50%;">
							<option value="부서명">부서명</option>
							<optgroup label="상위부서1">
								<th:block th:each="dept : ${deptList}">
									<option th:text="${dept.dept_nm}"></option>
								</th:block></optgroup></select>-->
				<tr>
					<th scope="row">전화번호</th>
					<td><input type="text" name="telno" style="width: 96%;"></td>
				</tr>
				<tr>
					<th scope="row">주소</th>
					<td><input type="text" name="user_addr" style="width: 96%;"></td>
				</tr>
				<tr>
					<th scope="row">취미</th>
					<td><input type="checkbox">등산 <input type="checkbox">게임
						<input type="checkbox">야구 <input type="checkbox">클라이밍
						<input type="checkbox">자전거
					</td>
				</tr>
				<tr>
					<th></th>
					<td align="right"><button>신규등록</button></td>
				</tr>
			</table>
		</form>
		<!--<table class="type04">
					<tr>
					<td><button>신규등록</button></td>
					<td><button>저장</button></td>
					<td><button>삭제</button></td>
					</tr>
					</table>-->

	</div>
	


</body>
</html>
